*
!*/
!/.gitignore

!/package.json
!/package-lock.json
!/tsconfig.json
!/Makefile

!/src/**/*.ts
!/lib/**/*.js
!/art/**/*.png
!/art-work/**/*.pdn

!/data.json
!/data-compressed.json
!/data-rewrite.json
!/rewrite.py

