*
!*/
!/.gitignore

!/package.json
!/package-lock.json
!/tsconfig.json
!/Makefile

!/src/**/*.ts
!/test/**/*.ts
!/lib/**/*.js

!/art/*.pdn
!/art/**/*.png

!/audio/**/*.mp3

# Generated overlays
/art/pipe/**/*_overlay_*.png

!/scripts/**/*.py

!/data/**/*.json
